body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue';
}
#full-page-body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    font-family: 'Helvetica Neue';
}
#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #565757;
    margin-left: 2vw;
}
#header-logo {
    width: 5vw;
    height: 5vh;
}
#header-onespace {
    font-size: 2vw;
}
#main-title-div {
    height: 90%;
    width: 100%;
}
#main-title-text {
    font-size: 3vw;
    letter-spacing: 0.3vw;
    color: #565757;
    text-shadow: 0 5px 10px rgba(242, 242, 242, 0.2);
}
#main-title-package {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#download-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.5vw;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background: linear-gradient(135deg, #121312, #89bae2);
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
  }

#download-button:hover {
    background: linear-gradient(135deg, #89bae2, #121312);
    transform: scale(1.05);
  }