canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
}

main {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 180px 0px;
  /* display: grid; */
  /* grid-template-columns: repeat(12, 1fr); */
  background: white;
}

#greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  text-align: center;
  color: dimgray;
  /* grid-column: 1 / span 5; */
  /* font-size: 2.5rem; */
  padding: 2rem;
  /* margin-bottom: var(--spacing); */
  /* text-shadow: 1px 3px 3px white; */
  /* --spacing: 470px; */
  opacity: 0;
  animation-delay: 0.25s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  margin-top: -6vw;
}

#greeting h1 span:first-child {
  color: #c0daf3;
  /* text-shadow: 1px 3px 3px #c0daf3; */
  opacity: 0;
  animation-delay: 0.5s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#greeting h1 span:last-child {
  color: #c0bdb0;
  /* text-shadow: 1px 3px 3px #c0bdb0; */
  opacity: 0;
  animation-delay: 0.75s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#greeting h5 {
  font-weight: 300;
  font-size: 2.5vw;
  opacity: 0;
  animation-delay: 1s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#greeting p {
  font-weight: 200;
  font-size: 2vw;
  text-shadow: none;
  opacity: 0;
  animation-delay: 1s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#greeting img {
  height: 10vw;
  width: 10vw;
  margin-top: 2.5vw;
  opacity: 0;
  cursor: pointer;
  animation-delay: 1.25s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  transition: all 0.3s ease;
}

#greeting img:hover {
  height: 12.5vw;
  width: 12.5vw;
  transition: all 0.3s ease;
}

#meet-team-button {
  color: white;
  margin-top: 10vw;
  /* grid-column: 9 / span 3; */
  text-shadow: none;
  font-size: 2vw;
  text-align: center;
  background: linear-gradient(to center, white, black);
  opacity: 0;
  animation-delay: 1.25s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  height: 0;
}

#meet-team-button h3 {
  border: 2px solid white;
  border-radius: 10px;
  padding: 1vw;
  transition: all 0.3s ease;
}

#meet-team-button h3:hover {
  box-shadow: 0px 0px 10px white;
  background: radial-gradient(black, dimgray);
  text-shadow: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

#next-prev-buttons {
  opacity: 0;
  position: fixed;
  bottom: 0;
  margin-bottom: 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* grid-column: 9 / span 3; */
}

#next-prev-buttons button {
  font-size: 2vw;
  border: 1px solid white;
  color: white;
  background: transparent;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 5px;
}

#next-prev-buttons button:hover {
  box-shadow: 0px 0px 5px white;
  background: radial-gradient(black, dimgray);
}

section {
  color: white;
  /* grid-column: 1 / span 5; */
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

section i {
  font-weight: 200;
}

.top h1 {
  font-size: 3.5rem;
  text-shadow: 1px 3px 3px white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
